.audiences {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
  background: rgba(0, 161, 198, 0.07);

  &__content-container {
    margin: 50px 15px 0 15px;

    @include for-large-up {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 108px;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2b292d;
    width: 290px;
    height: 34px;
    margin: 0;
    margin-bottom: 17px;

    @include for-large-up {
      width: 168px;
      margin: auto;
      margin-bottom: 24px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
    color: #2b292d;
    width: 290px;
    height: 80px;
    margin: 0;
    margin-bottom: 18px;

    @include for-large-up {
      width: 555px;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.5px;
      margin-bottom: 30px;
    }
  }

  &__description {
    width: 290px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2b292d;
    margin-bottom: 30px;

    @include for-large-up {
      width: 555px;
      margin-bottom: 34px;
    }
  }

  &__action {
    @include for-large-up {
      display: inline-block;
      text-align: center;
    }
  }

  &__card-container {
    margin: 40px 15px 0 15px;

    @include for-large-up {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 111px 130px 110px 131px;
    }
  }

  &__card {
    width: 290px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%), #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 15px;

    @include for-large-up {
      width: 262px;
      margin-right: 30px;
    }

    &-image {
      max-width: 138px;
      height: 195px;
      margin-top: 22px;
    }

    &-title {
      width: 250px;
      height: 28px;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      color: #2b292d;
      padding-bottom: 33px;
      margin-left: 20px;
      margin-right: 20px;

      @include for-large-up {
        width: 220px;
      }
    }
  }

  &__card_selected {
    width: 290px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3141c5;
    color: #ffffff;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    margin-right: 15px;
    margin-bottom: 15px;

    @include for-large-up {
      min-width: 262px;
      margin-right: 30px;
    }
  }
}
