.audience {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
  background: rgba(0, 161, 198, 0.07);

  &__content-container {
    margin: 50px 15px 0 15px;

    @include for-large-up {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 108px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 17px;
    width: 290px;
    height: 34px;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2b292d;

    @include for-large-up {
      margin: auto;
      margin-bottom: 24px;
      width: 168px;
      height: 34px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;
    width: 290px;
    height: 80px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
    color: #2b292d;

    @include for-large-up {
      margin-bottom: 30px;
      width: 555px;
      height: 112px;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-bottom: 30px;
    width: 290px;
    height: 136px;
    font-weight: normal;
    font-size: 24px;
    color: #2b292d;
    line-height: 34px;
    text-align: center;

    @include for-large-up {
      margin: 0;
      margin-bottom: 34px;
      width: 555px;
      height: 72px;
    }
  }

  &__action {
    @include for-large-up {
      display: inline-block;
      text-align: center;
    }
  }

  &__card-container {
    margin: 40px 15px 0 15px;

    @include for-large-up {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 111px 130px 110px 131px;
    }
  }

  &__card-image_developer {
    margin-top: 22px;
    width: 138px;
    min-height: 195px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-1.png");
  }

  &__card-image_entertainment {
    margin-top: 22px;
    width: 138px;
    min-height: 195px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-2.png");
  }

  &__card-image_athletes {
    margin-top: 22px;
    width: 138px;
    min-height: 195px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-3.png");
  }

  &__card-image_creators {
    margin-top: 22px;
    width: 138px;
    min-height: 195px;
    background: no-repeat;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-4.png");
  }

  &__card-title {
    margin: 22px 20px 0 20px;
    padding-bottom: 33px;
    width: 250px;
    height: 28px;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;

    @include for-large-up {
      width: 220px;
    }
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: 290px;
  height: 300px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  &:hover {
    background-color: rgba(49, 65, 197, 1);
    color: rgba(255, 255, 255, 1);
  }

  @include for-large-up {
    margin-right: 30px;
    margin-bottom: 0;
    width: 262px;
    height: 300px;
  }
}
