.action__button {
  background-color: #3040c4;
  color: $color-white;
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  border: none;

  @include for-large-down {
    width: 100%;
  }
}

.hide_desktop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
