.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  &__description {
    font-size: 18px;
    line-height: 26px;
    width: 360px;
    margin-top: 30px;
    color: $color-dark-grey;
    opacity: 0.6;
    display: none;

    @include for-large-up {
      display: block;
    }
  }

  &__line {
    margin: 0;
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid $color-dark-grey;
    opacity: 0.1;

    @include for-large-up {
      margin: 0;
    }
  }
}

.footer__navigation {
  display: flex;
  margin: 0;
  flex-direction: column;

  @include for-large-up {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}

.about-company {
  margin-top: 48px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }

  &__image {
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-dark.png");
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: $color-dark-grey;
    line-height: 25px;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: $color-dark-grey;
    opacity: 0.6;
    line-height: 25px;
  }
}

.download {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;

  @include for-large-up {
    justify-content: left;
    margin: 0;
    margin-top: 25px;
  }

  &__download__item_app-store {
    display: inline-block;
    width: 116px;
    height: 40px;
    margin-right: 10px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/app-store.png");
  }

  &__download__item_google-play {
    display: inline-block;
    width: 116px;
    height: 40px;
    margin-right: 10px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/google-play.png");
  }
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;

  @include for-large-up {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }

  &__column {
    margin-top: 30px;

    @include for-large-up {
      margin-top: 0;
      margin-right: 29px;
    }
  }
}

.nav-links {
  width: 265px;

  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: $color-dark-grey;
    margin: 0;
  }

  &__list {
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    padding: 0;
    margin: 0;
    margin-top: 18px;
  }
}

.footer__links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    height: 50px;
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
  }
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;

  @include for-large-up {
    line-height: 50px;
    margin-top: 0;
  }

  &__item {
    text-decoration: none;
    color: $color-dark-grey;
    opacity: 0.6;
    margin-right: 22px;
  }
}

.social__links {
  margin-top: 30px;
  margin-bottom: 23px;

  @include for-large-up {
    margin-left: auto;
  }
  &__items {
    color: white;
  }

  &__items_twitter {
    display: inline-block;
    width: 21px;
    height: 16px;
    margin-left: 0;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png");
  }

  &__items_facebook {
    display: inline-block;
    width: 21px;
    height: 16px;
    margin-left: 20px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png");
  }

  &__items_linkedin {
    display: inline-block;
    width: 21px;
    height: 16px;
    margin-left: 20px;
    background: no-repeat;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png");
  }
}

@media screen and (max-width: 319px) {
  .about-company .logo {
    display: none;
  }
}
