.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: $color-white;
  height: 64px;

  @include for-large-up {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 62px;
    background-color: transparent;
  }

  &__button {
    display: none;

    @include for-large-up {
      display: block;
    }
  }

  &__menu-button {
    margin-left: auto;
    width: 58px;
    height: 100%;
    border: none;
    border-left: 1px solid #00000026;
    background-color: transparent;

    @include for-large-up {
      display: none;
    }
  }

  &__menu-icon {
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  }
}

.logo {
  display: flex;

  &__image {
    margin: 0 13px 8px 0;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon.png");
    width: 48px;
    height: 48px;

    @include for-large-up {
      margin-right: 15px;
      width: 60px;
      height: 60px;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__description {
    display: none;

    @include for-large-up {
      display: block;
      font-size: 18px;
      line-height: 25px;
      color: $color-dark-grey;
      opacity: 0.6;
    }
  }
}

.navigation {
  display: none;

  @include for-large-up {
    display: block;
    margin: 7px 75px 7px auto;
  }

  &__item {
    margin-right: 50px;
    color: $color-dark-grey;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item_selected {
    font-weight: 700;
  }

  &__arrow {
    display: inline-block;
    margin-left: 11px;
    background-image: url(https://gromcode.com/courses/html5-css3/tasks/2592);
    height: 5px;
    width: 8px;
  }
}

.top-section {
  background-color: #f3c6bd;

  @include for-large-up {
    padding-top: 39px;
    background-color: #f3c6bd;
  }
}
