.order {
  padding: 50px 15px;
  background-color: #f4f5f7;

  @include for-large-up {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
  }

  &__image {
    max-width: 200px;
    display: inherit;
    margin: auto;

    @include for-large-up {
      width: 269px;
      margin-right: 121px;
    }
  }

  &__details {
    max-width: 555px;

    @include for-large-up {
      margin-right: 228px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #2b292d;
    margin-top: 40px;
  }

  &__text {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2b292d;
    margin: 0;
    margin-top: 18px;
  }

  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }

  &__email {
    margin-top: 40px;
    background: #ffffff;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    height: 48px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 13px;

    @include for-large-up {
      margin-top: 0;
    }

    &::placeholder {
      color: #2b292d;
    }
  }

  &__button {
    margin-top: 12px;
    width: 100%;

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
      width: 160px;
      flex-shrink: 0;
    }
  }

  &__terms {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }

  &__terms-link {
    color: #3142c6;
  }
}
